node_modules/
.env
.env.local
*.log
.DS_Store
dist/
uploads/


# Prettier config
.prettierrc
.prettierignore

# Nodemon config
nodemon.json

# OS files
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel
